@charset "utf-8";

/* 基本設定 */

body {
  background-color: #fff;
  color: #333;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.5;
  transition: .5s;
}

ul {
  list-style: none;
  line-height: 1.7;
}

p {
  line-height: 1.7;
}

section {
  margin-bottom: 20px;
  transition: .7s;
}

h2 {
  font-family: korolev, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid #333;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* ロード画面 */

/* 背景 */

#load {
  display: flex;
  background-color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

/* アニメーション */

#load .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  animation: rotate linear 1s infinite;
}

/* 回転キーフレーム */

@keyframes rotate {

  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: rotate(90deg);
    border-bottom: 6px solid #fff;
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    border-bottom: 1px solid #fff;
    opacity: 0;
  }

  75% {
    transform: rotate(270deg);
    border-bottom: 6px solid #fff;
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
  
}

/* ロード画面解除 */

.loaded {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

/* ヘッダー */

header {
  height: 150px;
  display: flex;
  align-items: center;
}

/*ロゴ*/

h1 {
  font-family: korolev, sans-serif;
  font-weight: 500;
  font-size: 48px;
  margin-left: 100px;
  transition: .7s;
}

/* メニューボタン */

#btn {
  height: 36px;
  width: 36px;
  position: fixed;
  cursor: pointer;
  z-index: 99;
  transition: .7s;
  top: 0;
  right: 0;
  margin: 57px 100px 0 0;
}

#btn:hover {
  opacity: 0.5;
  transition: .5s;
}

.line {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
  background: #333;
  transition: .7s;
  border-radius: 6px;
  right: 0;
}

#index .line {
  background: #fff;
}

/* ラインの位置調整 */

#line1 {
  top: 16%;
}

#line2 {
  bottom: 48%;
}

#line3 {
  bottom: 16%;
}

.line1,.line2,.line3{
  background: #fff;
}

/* アニメーション時の傾き調整 */

.line1 {
  transform: translateY(11px) rotate(45deg);
  top: 0;
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: translateY(-11px) rotate(-45deg);
  bottom: 0;
}

/* メニュー */

nav {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #000;
  top: -100%;
  left: 0;
  z-index: 90;
  transition: .7s;
  opacity: 0;
}

nav ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

nav li a {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

/* メニュー開閉 */

.in{
  transform: translateY(100%);
  opacity: 1;
}

/* メインコンテンツ幅 */

main {
  margin: 50px 100px 0 100px;
}

/* フッター */

footer {
  width: 100%;
  margin-top: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 各ページごとの詳細設定 */

/* index */

#index video {
  min-height: 100vh;
  min-width: auto;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#index a {
  color: #fff;
  text-shadow: 1px 1px 0 #333, -1px -1px 0 #333;
}

#index main {
  margin-top: 40px;
}

#index h2 {
  font-size: 9.5vw;
  font-weight: 700;
  line-height: 1.16;
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#index footer {
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #fff;
}

/* works */

/* アイテム配置 */

#container {
  display: flex;
  gap: 20px;
  transition: .5s;
}

#container img {
  max-width: 100%;
}

#container img:hover {
  opacity: 0.5;
  transition: .5s;
  cursor: pointer;
}

#container .works_col01 {
  width: 49%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

#container .works_col02 {
  display: flex;
  width: 49%;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

/* 作品詳細表示 */

/* コンテンツ */

.modalLeft {
  position: fixed;
  height: 100%;
  width: 50%;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.modalRight {
  position: fixed;
  height: 100%;
  width: 50%;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.modalLeft img,.modalRight img {
  max-width: 50%;
}

.modalLeft section,.modalRight section {
  margin: 0 5%;
}

/* 表示 */

.showLeft {
  right: 0;
  opacity: 1;
}

.showRight {
  left: 0;
  opacity: 1;
}

/* 閉じるボタン */

.close {
  cursor: pointer;
}

.close:hover {
  opacity: 0.5;
}

/* 背景オーバーレイ */

#overray {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  transition: .5s;
}

.showOverray {
  visibility: visible;
  opacity: 0.8;
}

/* me */

#me main {
  display: flex;
  align-items: center;
  gap: 4%;
}

#me main img {
  width: 40%;
  transition: .2s;
}

#me h3 span {
  margin-left: 2em;
  font-size: 18px;
}

.profile {
  width: 56%;
  transition: .7s;
}

#me main ul {
  list-style: circle;
  list-style-position: inside;
}


@media screen and (max-width:1024px) {

  /* タブレット用レイアウト */

  /* 位置調整 */

  h1 {
    margin-left: 5%;
  }

  #btn {
    margin-right: 5%;
  }

  /* コンテンツ部分 */

  main {
    margin: 20px 5% 0 5%;
  }

  #index .main {
    margin-top: 20px;
  }

}

@media screen and (max-width:599px) {

  /*スマートフォン用レイアウト*/

  /* ヘッダー */
  
  header {
    height: 80px;
  }

  /* 位置調整など */

  h1 {
    margin-left: 5%;
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  /* メニューリサイズ */

  /* ボタン */

  #btn {
    margin-top: 26px;
    height: 28px;
    width: 28px;
  }
  
  .line {
    width: 28px;
    height: 2px;
    border-radius: 6px;
  }

  /* 中心ラインの調整 */

  #line2 {
    bottom: 47%;
  }

  /* 傾き調整 */
  
  .line1 {
    transform: translateY(9px) rotate(45deg);
  }
  
  .line3 {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* 文字サイズ調整 */

  nav li a {
    font-size: 14px;
  }

  /* index */

  #index main {
    margin: 48px 5% 0 5%;
  }

  #index main h2 {
    font-size: 12vw;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 5%;
  }

  /* works */

  #container {
    flex-direction: column;
  }

  #container .works_col01 {
    width: 100%;
  }
  
  #container .works_col02 {
    width: 100%;
  }

  /* 作品詳細表示 */

  .modalLeft,.modalRight {
    position: fixed;
    height: 80%;
    width: 100%;
    top: auto;
    left: 50%;
    right: auto;
    bottom: -100%;
    transform: translateX(-50%);
  }
  
  /* 表示 */
  
  .showLeft,.showRight {
    bottom: 0;
    opacity: 1;
  }

  /* me */

  /* テスト要素

  #me header {
    height: 160px;
  }

  #me h1 {
    margin-top: 22px;
  }

  テスト要素ここまで */

  #me main {
    flex-direction: column;
    gap: 20px;
  }

  #me main img {
    border-radius: 50%;
    width: 200px;
  }

  /* 縦スクロール用にコンテンツ幅修正 */

  .profile {
    width: 100%;
  }

  #me section {
    transform: skewY(-3deg);
  }

  #me h3 {
    text-align: center;
  }

  #me h3 span {
    margin-left: 2em;
    font-size: 14px;
  }

  /* フッター */

  footer {
    height: 80px;
  }

}